# Ambiente virtual
venv/

# Arquivos compilados
__pycache__/
*.pyc
*.pyo

# Configurações locais
.env
*.log
.DS_Store

# Banco de dados SQLite
*.sqlite3

# Pastas de build/distribuição
build/
dist/
*.egg-info/
